/* work sans font */
/* shared styles */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn {
    width: 160px;
    height: 60px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;


}

.text-description {
    color: #727272;
}

.section-title {
    color: var(--dark-01, #131313);

    font-size: 50px;
    font-weight: 700;
}

/* header-styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.upper-side {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menus {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    font-size: 18px;
    font-weight: 500;

}

nav li {
    margin-right: 20px;

}

nav li a {
    text-decoration: none;
    color: #312f2f;

}

.heading-name {
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* banner styles */

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

}


.banner-description {
    text-align: center;
    font-size: 16px;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;

}

/* teams-container-styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;

}

.teams-title {
    font-size: 2.8rem;

}

.Quick-list {
    color: #727272;
    font-weight: 500;
}

.of-Our {
    color: #131313;
    font-weight: 700;

}

.t-features {
    color: #FF900E;
    font-weight: 700;
}

/* features section styles */

/* fact section styles */
.fact-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.fact-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
   
    
    

}
.fact-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
     margin-top: 10px;
    margin-bottom: 10px;
}

.fact-card-container .card-title{
    font-weight: 600; 
    font-size: 1.25rem;
    margin-top: 5px;

}
.sm{
    text-align: center;
    margin-bottom: 10px;
}


/* sponsor style  */
.sponsor{
    text-align: center;
}
.sponsor-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    gap: 20px;
    align-items: center;
}
.sponsor-img img{
    width: 165px;
}
.copy{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}






/* responsive styles 
mobile device*/

@media screen and (max-width:576px) {
    header {
        padding: 15px;
    }

    .upper-side,
    .teams-container,.fact-card-container,.sponsor-img {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .menus {

        gap: 10px;
    }

    .teams-content,.fact-card-container{
        padding-right: 20px;
        padding-left: 20px;

    }
    .fact-card-container{
        gap: 10px;
    }



}

/* responsive styles 
medium device*/
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 15px;
    }

    .upper-side,
    .teams-container,
    .sponsor-img{
        flex-direction: column;
    }

    .teams-content {
        padding-right: 20px;
        padding-left: 20px;

    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .menus {
        gap: 10px;

    }
    .fact-card-container{
        gap: 0px;
        
}